.app-title {
    display: flex;
    justify-content: flex-start;
}

body {
  min-height: 500px;
}

.chat-container {
    display: flex;
    flex-direction: column-reverse;
    height: 40vh;
    overflow-y: scroll;
}

.chat-message-container {
    display: flex;
    margin-bottom: 10px;
}

.chat-bubble-response {
    background-color: #ebebeb;
    border-radius: 8px 8px 8px 0;
    color: #616161;
    padding: 12px 20px;
    position: relative;
}

.chat-bubble-response:before {
    border-bottom: 5px solid transparent;
    border-left: 5px solid #ebebeb;
    border-right: 5px solid transparent;
    border-top: 5px solid #ebebeb;
    bottom: -10px;
    content: "";
    left: 0;
    position: absolute;
    right: auto;
}

.chat-response {
    font-family: 'Cascadia Code', monospace;
    color: black;
}

.chat-bubble-input {
    background-color: lightblue;
    border-radius: 8px 8px 0px 8px;
    color: #fff;
    padding: 12px 20px;
    position: relative;
    margin-left: auto;
}

.chat-bubble-input:before {
    border-bottom: 5px solid transparent;
    bottom: -10px;
    content: "";
    position: absolute;
    border: 5px solid transparent;
    border-top-color: lightblue;
    border-right-color: lightblue;
    left: auto;
    right: 0px;
}

.chat-bubble-footer {
    border-top: #d6d6d6 2px solid;
    margin: 15px 0;
}

.footer-icon-block {
    display: flex;
}

.footer-icons {
    width: 50%
}

.footer-submit {
    width: 50%;
    text-align: right;
    margin: auto;
}

icon-gray {
    color: #616161;
}

.user-input {
  height: 30vh;
}

div.user-input input[type="text"] {
    width: 70%;
}

.console-container {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 30vh;
    width: 100%;
    background-color: black;
    overflow-y: scroll;
}

.console-text {
    padding: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: white;
    font-family: 'Lucida Console', monospace;
}

.language-selector {
    width: 50%;
}

