@using DslCopilot.Web.Services
@inject ConsoleService ConsoleService
@inject ChatSessionIdService ChatSessionIdService
@implements IDisposable

<div style="background-color:black">
@foreach(var line in ConsoleLines)
{
    <div style="color:white">@line</div>
})
</div>
@code {
  private IList<string> ConsoleLines = new List<string>();

  private string? _chatSessionId;

  protected override void OnInitialized()
  {
    _chatSessionId = ChatSessionIdService.GetChatSessionId();
    ConsoleService.RegisterConsole(_chatSessionId, AddLine);
    base.OnInitialized();
  }

  protected void AddLine(string line)
  {
    ConsoleLines.Add(line);
    InvokeAsync(StateHasChanged);
  }

  public void Dispose()
  {
    if (_chatSessionId != null)
    {
      ConsoleService.RemoveConsole(_chatSessionId);
    }
  }
}
