@using DslCopilot.Web.Services
@inject LanguageService LanguageService
@inject ConsoleService ConsoleService;
@inject ChatSessionIdService ChatSessionIdService;
<label><b>Language:</b></label>
<div class="language-selector">
    <select class="form-control" id="languageSelector" @onchange="ChangeLanguage">
        @foreach (var language in Languages)
        {
            <option value="@language">@language</option>
        }
    </select>
</div>

@code {
    private CancellationTokenSource _cts = new();

    [Parameter]
    public EventCallback<string> OnLanguageChanged { get; set; }

    private List<string> Languages = [];

    private string _selectedLanguage = string.Empty;
    private string SelectedLanguage { 
        get
        {
            return _selectedLanguage;
        }
        set
        {
            _selectedLanguage = value;
            InvokeAsync(async () => await OnLanguageChanged.InvokeAsync(_selectedLanguage))
              .GetAwaiter()
              .GetResult();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var sessionId = ChatSessionIdService.GetChatSessionId();
        ConsoleService.WriteToConsole(sessionId, $"(LanguageService) Changed Scheduler: {SynchronizationContext.Current?.ToString()}");
        Languages = await LanguageService
          .GetSupportedLanguages(_cts.Token);
        ConsoleService.WriteToConsole(sessionId, $"(LanguageService) Changed Scheduler: {SynchronizationContext.Current?.ToString()}");
        SelectedLanguage = Languages[0];

        ConsoleService.WriteToConsole(sessionId, $"(LanguageService2) Changed Scheduler: {SynchronizationContext.Current?.ToString()}");
        await base.OnInitializedAsync();
        ConsoleService.WriteToConsole(sessionId, $"(LanguageService2) Changed Scheduler: {SynchronizationContext.Current?.ToString()}");
    }

    private void ChangeLanguage(ChangeEventArgs e)
      => SelectedLanguage = e.Value?.ToString() ?? string.Empty;
}
