@using DslCopilot.Web.Services
@inject LanguageService LanguageService

<label><b>Language:</b></label>
<div class="language-selector">
    <select class="form-control" id="languageSelector" @onchange="ChangeLanguage">
        @foreach (var language in Languages)
        {
            <option value="@language">@language</option>
        }
    </select>
</div>

@code {

  [Parameter]
  public EventCallback<string> OnLanguageChanged { get; set; }

  private List<string> Languages = new List<string>();

  private string _selectedLanguage = string.Empty;
  private string SelectedLanguage { 
    get
    {
      return _selectedLanguage;
    }
    set
    {
        _selectedLanguage = value;
        OnLanguageChanged.InvokeAsync(_selectedLanguage);
    }
  }

  protected override async Task OnInitializedAsync()
  {
    Languages = await LanguageService.GetSupportedLanguages();
    SelectedLanguage = Languages[0];
    await base.OnInitializedAsync();
  }

  private void ChangeLanguage(ChangeEventArgs e)
  {
      SelectedLanguage = e.Value?.ToString() ?? string.Empty;
  }
}
